<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janrain.android.simpledemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="20" />

    <!--
        Tab appearance notes

        on the Nexus S:
        Sdk 7, 6, 5 is a brushed aluminum looking halftone with a slightly darker selected tab
        and no tab separators between unselected tabs and a tab strip at the bottom
        4 is a very dark grey gradient with a much lighter selected tab and a tab strip at the
        bottom that looks bad with our white background below the tab strip because it has a
        black line at the bottom.  and very slight tab separators between unselected tabs

        on the 2.1 emulator:
        Sdk 7 is black unselected tabs with a halftone selected tab, a tab strip at the bottom,
        and a light separator between selected tabs.
        4 is halftone unselected tabs with separators and a tab strip at the bottom and a light
        gray selected tab.
    -->

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Light"
        >

        <activity android:name=".MainActivity"
            android:theme="@android:style/Theme.Light"
            >
            <!--android:launchMode="singleTask">-->
                <!--singleTask isn't working as documented, instead it's behaving as described in
                    this bug report:
                    http://code.google.com/p/android/issues/detail?id=11160&can=5&colspec=ID%20Type%20Status%20Owner%20Summary%20Stars
                    -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- The following activities are for the Janrain Engage for Android library -->
        <!-- This activity must have a dialog theme such as Theme.Holo.Dialog, or
            Theme.Dialog, etc.

            Using android:theme="@style/jr_dialog" will result in Theme.Dialog on API 4-10 and
            Theme.Holo.Light.DialogWhenLarge.NoActionBar on API 11+
            -->
        <activity
            android:name="com.janrain.android.engage.ui.JRFragmentHostActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Janrain.Light"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:hardwareAccelerated="false"
            />

        <!-- This activity must have a normal (non-dialog) theme such as Theme, Theme.Light, Theme.Holo, etc.

            Using android:theme="@style/jr_fullscreen" or "@style/jr_fullscreen_dark" will result in
            Theme.Light (or Theme) on API 4-10 and
            Theme.Holo.Light (or Theme.Holo) on API 11+
            -->
        <activity
            android:name="com.janrain.android.engage.ui.JRFragmentHostActivity$Fullscreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/custom_fullscreen_dark"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:hardwareAccelerated="false"
            />

    </application>

</manifest>
