<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.janrain.android.simpledemo"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:debuggable="true">
        
        <activity
                android:name="MainActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Light">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- For Janrain -->
        <activity android:name="com.janrain.android.engage.ui.JRProvidersActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name="com.janrain.android.engage.ui.JRLandingActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name="com.janrain.android.engage.ui.JRWebViewActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name="com.janrain.android.engage.ui.JRPublishActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.Light.NoTitleBar"/>

    </application>

</manifest>
