<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.janrain.android.engage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:debuggable="true">
        <activity
            android:name="SampleActivity"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity
            android:name=".ui.JRProvidersActivity"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity
            android:name=".ui.JRLandingActivity"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity
            android:name=".ui.JRWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity
            android:name=".ui.JRPublishActivity"
            android:configChanges="orientation|keyboardHidden"
            />
    </application>

</manifest>
