<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janrain.android.quickshare"
    android:versionCode="020301"
    android:versionName="2.3.1"
    >
    <!--android:installLocation="auto"-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- minSdkVersion of 5 because we use android.util.Pair -->
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="13"/>

    <application
        android:label="Quick Share"
        android:icon="@drawable/icon"
        android:theme="@style/JanrainDemoTheme"
        android:name="com.janrain.android.quickshare.QuickShare"
        android:hardwareAccelerated="true"
        >

        <activity android:name=".SplashScreen">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".FeedSummaryActivity"
            android:label="Janrain Blog Posts"
            />

        <activity
            android:name=".StoryDetailActivity"
            android:label="Blog Post"
            />

        <!-- For Janrain Engage library -->
        <activity
            android:name="com.janrain.android.engage.ui.JRFragmentHostActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Janrain.Dialog.Light"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

        <activity
            android:name="com.janrain.android.engage.ui.JRFragmentHostActivity$Fullscreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Janrain.Light"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

        <activity
            android:name="com.janrain.android.engage.ui.JRFragmentHostActivity$FullscreenNoTitleBar"
            android:configChanges="orientation|screenSize"
            android:theme="@style/jr_fullscreen_no_title"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

    </application>

</manifest> 
